.MappingBody{
    background: #fff; color: steelblue;
}

.something{background:#662020}

 
 .container{
     width:100%;
     max-width:1320px;
     margin-left:auto;
     margin-right:auto;
     padding-left:5%;
     padding-right:5%
}

 .col{
     padding-left:2%;
     padding-right:2%;
     font-family:
     "Lucida Console";
}

 .title{
     max-width:15em;
     }

.left{ 
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;

}

.track{
    stroke-width:2px;
    stroke:#fff;
    opacity:0.5
}

.right{
  flex:2;
  margin-left:-20%;
  flex: 2 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  resize: vertical;
}

.active{
  color:tomato;
  flex: 1;
  list-style:none
}



.mapView{
        display:flex;
}

.teamChooser{
  list-style:none;
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  resize: vertical;
    
}

.teamChooser span{
    font-size:75%
}

path {
  stroke-width: 1px;
  stroke: white;
  cursor: pointer;
}

.placeLabel{
    fill:black;
    font-family:raleway;
}

